.question-container {
    border: 1px solid black;
    background-color:#FFFFFF;
}


.category-box {
    &.History {
        background-color: #f4d142;
    }
}

.hint-value {
    font-size: 14px;
}

.points,
.difficulty {
    float: right;
}