<div class='list-group-item'>
  <p>
    {{member.name}}
  </p>
  <p>
    {{member.totalPoints}}
  </p>
  <span class="badge geography badge-pill ">{{member.pointDistribution.geography}}</span>
  <span class="badge entertainment badge-pill ">{{member.pointDistribution.entertainment}}</span>
  <span class="badge history badge-pill ">{{member.pointDistribution.history}}</span>
  <span class="badge artsLiterature badge-pill ">{{member.pointDistribution.artsLiterature}}</span>
  <span class="badge scienceNature badge-pill ">{{member.pointDistribution.scienceNature}}</span>
  <span class="badge sportsLeisure badge-pill ">{{member.pointDistribution.sportsLeisure}}</span>
</div>
