.badge {
  font-size: 100%;
  &.geography {
      background-color: #1281b4;
  }
  &.entertainment {
    background-color: #f63838;
  }
  &.history {
    background-color: #f5ec6f;
  }
  &.artsLiterature {
    background-color: #86592d;
  }
  &.scienceNature {
    background-color: #30bd30;
  }
  &.sportsLeisure {
      background-color: #ffaa00;
  }
}


